@import './utilities/reset';

@import './utilities/tipografias';

@import './sections/header';
@import './sections/index';
@import './sections/productos';
@import './sections/clases';
@import './sections/contacto';
@import './sections/quienes-somos';



@import './sections/footer';



/* Pagina Quienes Somos */
.h1-profesores{
    padding: 15px;
    color: white;
}

.quienes-somos{
    text-align: center;
    color: black;
    padding: 20px;
 }
.alan-mariano{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 10px;

}
.parrafo-profesores h2{
    padding-bottom: 25px;
    min-width: 60px;
}
.profesores img{
    margin: 50px;
    width: 300px;
}





/* Mobile last */
@media (max-width: 700px){
    .header{
        justify-content: center;
    }
    .p-contacto{
        display: none;
    }
    .alan-mariano{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 1080px){
    .banner {
        display: inline-block;
    }
}