/* pagina clases */
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
        "horaios Lunes Martes Miercoles Jueves Viernes Sabado"
        "10a11 boxeo boxeo boxeo boxeo boxeo boxeo"
        "11a12 boxeo boxeo boxeo boxeo boxeo"
        "15a16 boxeo boxeo boxeo boxeo boxeo"
        "16a17 boxeo boxeo boxeo boxeo boxeo"
        "18a19 boxeo boxeo boxeo boxeo boxeo"
        "19a20 boxeo boxeo boxeo boxeo boxeo"
        "20a21 boxeo boxeo boxeo boxeo boxeo"
        "21a22 boxeo boxeo boxeo boxeo boxeo"
    ;
    text-align: center;
    align-items: center;
    justify-items: center;
    width: 600px;
    padding-bottom: 10px;
    margin: auto;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.362);
}

.grid-container2{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, 2fr);
    grid-template-areas:
        "horaios LunesAViernes Sabado"
        "10a11 boxeo boxeo"
        "11a12 boxeo"
        "15a22 boxeo"
    ;
    text-align: center;
    align-items: center;
    justify-items: center;
    width: 300px;
    padding-bottom: 10px;
    margin: auto;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.362);
}

.diasyhorarios {
    display: flex;
    height: 60px;
    width: 80px;
    color: white;
    border: 1px solid black;
    background-color: $verde-fondos;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    margin: 2px;
}


@media (max-width: 700px){
    .grid-container{
        display: none;
    }
}

@media (min-width: 699px){
    .grid-container2{
        display: none;
    }
}