/* Acomodar Header , logo mas barra de nvegacion */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #666666, grey);
    flex-wrap: wrap;
    min-height: 20vh;
    img {
      width: 100px;
    }
}

/* Menu hamburguesa */
.nav-link {
    color: white;
    font-weight: bold;
    padding-right: 9px;
    a {
      &:hover {
      color: black;
      }
      .navbar-toggler {
        border: none !important;
        &:focus {
          box-shadow: none !important;
        }
      }
  }
}



.nav-item { 
  a{
    &:hover {
    color: black;
    }
  }
}

@media (max-width: 700px) {
  .header {
    justify-content: center;
  }
}