/* Main */

/* Titulos y parrafo */
h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
}

.main {
    min-height: 70vh;
    background-image: linear-gradient(to bottom, rgb(95, 95, 95), rgb(204, 204, 204));
    .banner{ 
        img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100vw;
        }
    }
    .titulo-principal {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    }
    .Parrafo-Inicial {
        text-align: center;
        font-size: medium;
    }
    .imagenes-centrales {
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
        img{
            width: 300px;
        }
    }
}


@media (max-width: 1080px) {
    .banner {
        display: inline-block;
    }
}