/* Pagina Productos */

.venta-productos {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-left: 10px;
    .card {
        width: 100%;
        margin: 20px;
        overflow: hidden;
        background-color: white;
        border-radius: 8px;
        cursor: default;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        &:hover{
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.919);
            transform: translateY(-5%)
        }
        img{
            background-color: $verde-fondos;
            width: 100%;
            height: 100%;
            padding: 5px;
            object-fit: contain;
        }
        .card-text {
            text-align: center;
        }
        
    }
}

