/* Pagina Quienes Somos */
.h1-profesores {
    padding: 15px;
    color: white;
}
.profesores{ 
    img {
    margin: 50px;
    width: 300px;
    }
    .alan-mariano {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin: 10px;
        justify-content: space-around;
        .parrafo-profesores h2 {
            padding-bottom: 25px;
            min-width: 60px;
        }
    }
}
.quienes-somos {
    text-align: center;
    color: black;
    padding: 20px;
    .negrita {
        font-weight: bold;
        font-size: large;
        ;
    }
}

/* Mobile last */
@media (max-width: 1050px) {
    .alan-mariano {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}